{% if site.announcement.enabled %}

<div
  class="announcement"
  role="region"
  aria-label="Site announcement"
>

  {{ site.announcement.text }}

  <a href="{{ site.announcement.url }}">
    {{ site.announcement.linkLabel }}
  </a>

</div>

{% endif %}