<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >

  <meta
    name="theme-color"
    content="#123b45"
  >


  <title>
    {% if seoTitle %}
      {{ seoTitle }}
    {% elif title %}
      {{ title }} | {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>


  {% if description %}

    <meta
      name="description"
      content="{{ description }}"
    >

  {% endif %}


  <link
    rel="canonical"
    href="{{ site.url }}{{ page.url }}"
  >


  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  >

  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  >

  <link
    href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Manrope:wght@400;500;600;700;800&display=swap"
    rel="stylesheet"
  >


  <link
    rel="stylesheet"
    href="/assets/css/foundation.css"
  >


  {% if pageStyles %}

    {% for stylesheet in pageStyles %}

      <link
        rel="stylesheet"
        href="{{ stylesheet }}"
      >

    {% endfor %}

  {% endif %}


  <link
    rel="stylesheet"
    href="/assets/css/header-footer.css"
  >

</head>


<body>

  <a
    class="skip-link"
    href="#main-content"
  >
    Skip to main content
  </a>


  {% include "components/announcement-bar.njk" %}

  {% include "components/header.njk" %}


  <main
    id="main-content"
    tabindex="-1"
  >

    {{ content | safe }}

  </main>


  {% include "components/footer.njk" %}


  <script
    src="/assets/js/site.js"
    defer
  ></script>

</body>

</html>