<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Feline Fairies</title>
</head>

<body>
  <main>
    <h1>Feline Fairies</h1>
    <p>If you can see this, Eleventy is working.</p>
  </main>
</body>
</html>